<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>IOT Master Server Control</title>

    <link th:href="@{/css/main.css}" rel="stylesheet"/>

    <script th:src="@{/js/main.js}" type="text/javascript"></script>

</head>
<body>
<div style="width: 100%; display: flex; flex-direction: row;">
    <div style="width: 50%" >
        <h1>IOT Master Server Control</h1>

        <div class="command-section">
            <h2>Pin Mode Command</h2>
            <label for="devices-pin-mode">Select Device:</label>
            <select id="devices-pin-mode" name="devices-pin-mode"></select>

            <label for="pinNumber-pin-mode">Select Pin Number:</label>
            <select id="pinNumber-pin-mode" name="pinNumber-pin-mode"></select>

            <label for="pinModeState-pin-mode">Select Pin Mode State:</label>
            <select id="pinModeState-pin-mode" name="pinModeState-pin-mode">
                <option value="INPUT_PULLUP">INPUT_PULLUP</option>
                <option value="INPUT">INPUT</option>
                <option value="OUTPUT">OUTPUT</option>
            </select>

            <button onclick="sendPinModeCommand()">Pin Mode Command</button>
        </div>

        <div class="command-section">
            <h2>Digital Write Command</h2>
            <label for="devices-digital-write">Select Device:</label>
            <select id="devices-digital-write" name="devices-digital-write"></select>

            <label for="pinNumber-digital-write">Select Pin Number:</label>
            <select id="pinNumber-digital-write" name="pinNumber-digital-write"></select>

            <label for="state-digital-write">Select State:</label>
            <select id="state-digital-write" name="state-digital-write">
                <option value="HIGH">HIGH</option>
                <option value="LOW">LOW</option>
            </select>

            <button onclick="sendDigitalWriteCommand()">Digital Write Command</button>
        </div>

        <div class="command-section">
            <h2>Enable Pin for Duration</h2>
            <label for="devices-enable-pin">Select Device:</label>
            <select id="devices-enable-pin" name="devices-enable-pin"></select>

            <label for="pinNumber-enable-pin">Select Pin Number:</label>
            <select id="pinNumber-enable-pin" name="pinNumber-enable-pin"></select>

            <label for="duration-enable-pin">Duration in Seconds:</label>
            <input type="number" id="duration-enable-pin" name="duration-enable-pin" min="1" max="3600">

            <button onclick="sendEnablePinForDuration()">Enable Pin for Duration</button>
        </div>

        <div class="command-section">
            <h2>Restart device</h2>
            <label for="devices-restart-device">Select Device:</label>
            <select id="devices-restart-device" name="devices-restart-device"></select>

            <button onclick="sendRestartDevice()">Restart Device</button>
        </div>
    </div >
    <div style="width: 50%" >
        <h2>Device Pin Info</h2>
        <button onclick="fetchDevicePinInfo()">Get Pin Info</button>
        <table id="pinInfoTable">
            <thead>
            <tr>
                <th>Device MAC Address</th>
                <th>Pin States</th>
            </tr>
            </thead>
            <tbody id="pinInfoBody"></tbody>
        </table>
    </div>
</div>

</body>
</html>
